<header>
  <a href="#"><h1 class="site-title"><i class="fa fa-hand-lizard-o"></i> Books</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="#">Login</a></li>
	  <li class="navitem navlink"><a href="#">Price</a></li>
	  <li class="navitem navlink"><a href="#">Condition</a></li>
	  <li class="navitem navlink"><a href="#">Seller Rating</a></li>
	  <li class="navitem navlink"><a href="#">Posting Date</a></li>
	  <li class="navitem navlink"><a href="#">Edition</a></li>
	  
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
